*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav-list,
.info-list,
.img-list,
.others-list,
.social,
.copyright {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  width: 320px;
  margin: 0 auto;
  font-family: "Amatic SC", "Verdana", sans-serif;
}

.main-nav {
  width: 100%;
  background-color: rgb(234, 214,189);
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-list:hover,
.nav-list:focus {
  cursor: pointer;
}

.nav-list__item {
  width: 100%;
  border-bottom: 1px solid white;
  text-align: center;
}

.nav-list__item:focus,
.nav-list__item:hover {
  box-shadow: inset 0 0 30px 1px rgb(203, 178, 147);
}

.nav-list__item:active {
  border-bottom: 1px solid rgb(203, 178, 147);
}

.nav-list__item:active .nav-list__link {
  color: rgb(203, 178, 147);
}

.nav-list__link {
  display: block;
  padding: 10px 0;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 0 1px rgb(203, 178, 147);
}

.page-main {
  position: relative;
}

.page-main__img {
  width: 100%;
}

.page-main__title {
  position: absolute;
  top: 10px;
  left: 20px;
  margin: 0;
  font-size: 40px;
  color: rgb(74, 173, 216);
  text-shadow: 1px 0 1px rgb(234, 214,189);
}

.info-item:first-of-type {
  margin: -4px 0 0;
}

.info-item {
  position: relative;
}

.info-item:first-of-type,
.info-item:nth-of-type(2) {
  padding: 10px 10px;
  border: 3px solid rgb(234, 214,189);
}

.info-item:first-of-type {
  border-bottom: none;
  padding: 10px 5px;
}

.info-item__title {
  margin: 45px 0 0;
  font-size: 25px;
  font-weight: bold;
  color: rgb(203, 178, 147);
  text-transform: uppercase;
  text-shadow: 1px 0 1px rgb(234, 214,189);
  text-align: center;
}

.info-item__title::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 140px;
}

.info-item__title--map::before {
  width: 40px;
  height: 40px;
  background-image: url("../img/placeholder.svg");
}

.info-item__title--dresscode::before {
  top: 10px;
  width: 40px;
  height: 40px;
  background-image: url("../img/couple.svg");
}

.info-item__title--faq {
  margin: 60px 0 10px;
}

.info-item__title--faq::before {
  top: -45px;
  width: 40px;
  height: 40px;
  background-image: url("../img/faq.svg");
}

.info-item__subtitle {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  color: rgb(14, 25, 55);
}

.info-item__map {
  width: 100%;
  height: 300px;
  border: none;
}

.img-list {
  display: flex;
  justify-content: space-between;
}

.img-list__item {
  width: 95px;
  height: 95px;
}

.img-list__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.others-list__item {
  margin: 0 0 10px;
  padding: 15px;
  border: 2px solid rgb(74, 173, 216);
}

.others-list__title {
  position: relative;
  margin: 0 0 0 25px;
  font-size: 22px;
  font-weight: bold;
  color: rgb(14, 25, 55);
}

.others-list__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 15px;
  height: 15px;
  border: 5px solid rgb(74, 173, 216);
  border-radius: 50%;
}

.others-list__subtitle {
  font-size: 20px;
  color: rgb(14, 25, 55);
}

.footer__title {
  margin: 30px 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: rgb(74, 173, 216);
  text-shadow: 1px 0 1px rgb(234, 214,189);
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__item {
  width: 34px;
  height: 34px;
  background-color: rgb(234, 214,189);
  border-radius: 50%;
}

.social__link {
  display: block;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0 1px rgb(203, 178, 147);
}

.social__link:active {
  color: rgb(203, 178, 147);
  text-shadow: 2px 0 2px rgb(255, 255, 255);
}

.social__item:hover,
.social__item:focus {
  box-shadow: inset 0 0 30px 1px rgb(203, 178, 147);
}

.social__item--groom {
  background-image: url("../img/groom.svg");
}

.social__item--bride {
  background-image: url("../img/bride.svg");
}

.social__item--bride:hover,
.social__item--bride:focus,
.social__item--groom:hover,
.social__item--groom:focus  {
  box-shadow: none;
}

.copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__item {
  margin: 15px 0;
  font-size: 12px;
  color: rgb(14, 25, 55);
}

.copyright__subtitle {
  margin: 0;
}

.copyright__link {
  color: rgb(14, 25, 55);
  text-decoration: none;
  border-bottom: 1px solid rgb(14, 25, 55);
}

.copyright__link:hover,
.copyright__link:focus {
  text-shadow: 1px 0 1px rgb(74, 173, 216);
}

.copyright__link:active {
  color: rgb(74, 173, 216);
  border-bottom: 1px solid rgb(74, 173, 216);
 }

@media (min-width: 1200px) {
  body {
    width: 1200px;
  }

  .nav-list {
    flex-direction: row;
  }

  .page-main__title {
    top: 60px;
    left: 120px;
    font-size: 130px;
  }

  .info-item {
    position: relative;
  }

  .info-item:first-of-type {
    margin-bottom: -4px;
    padding: 0;
    border: none;
  }

  .info-item:nth-of-type(2) {
    padding: 20px;
    margin-bottom: 20px;
  }

  .info-item__title {
    font-size: 35px;
  }
  .info-item__title--map {
    margin-top: 75px;
  }

  .info-item__title--map::before {
    top: 15px;
    left: 180px;
    width: 60px;
    height: 60px;
  }

  .info-item__title--dresscode {
    margin-top: 70px;
  }

  .info-item__title--dresscode::before {
    top: 15px;
    left: 570px;
    width: 60px;
    height: 60px;
  }

  .info-item__title--faq {
    margin-top: 70px;
  }

  .info-item__title--faq::before {
    top: -60px;
    left: 570px;
    width: 60px;
    height: 60px;
  }

  .info-item__subtitle {
    font-size: 25px;
  }

  .info-item__wrapper {
    position: absolute;
    top: 60px;
    right: 50px;
    width: 400px;
    padding: 10px;
    background-color: white;
    border: 3px solid rgb(234, 214,189);
  }

  .info-item__map {
    height: 500px;
  }

  .img-list {
    justify-content: center;
  }

  .img-list__item {
    width: 130px;
    height: 130px;
    margin: 0 30px;
  }

  .others-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .others-list__item {
    width: 530px;
    padding: 30px;
  }

  .others-list__title {
    font-size: 30px;
  }

  .others-list__subtitle {
    font-size: 25px;
  }

  .footer__title {
    font-size: 36px;
  }

  .social {
    width: 350px;
    margin-bottom: 40px;
  }

  .social__item {
    width: 45px;
    height: 45px;
  }

  .social__link {
    margin-top: 6px;
  }

  .copyright {
    width: 370px;
  }

  .copyright__subtitle {
    font-size: 14px;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
